/* Global Styles */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

*::after, *::before { content: ''; }
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

body { 
  font-size: 100%; 
  font-family: "Droid Sans", sans-serif; 
  color: #dbe2e9; 
  background: url('../images/crossword.png');
}
a { 
  color: #89ba2c; 
  text-decoration: none; 
}

/* Main Styles */
.ks-slide-left { 
  position: absolute; 
  width: 50%; 
  left: 0; 
  margin: 0 !important;
  border: none !important;
}
.ks-main-content { 
  text-align: center;
  max-width: 768px; 
  margin: 50px auto; 
  border: 2px solid #ecf0f1;
  border-radius: 3px;
  padding: 0 40px 50px;
}

.ks-main-header .ks-profile-img { 
  float: left;
}
.ks-main-header .ks-profile-img img {
  border-radius: 76px;
  height: 150px;
  width: 150px;
  margin: 10px 50px;
  border: 2px solid #d7d7d7;
}
.ks-my-info { 
  font-size: 18px;  
  color: #64788c; 
  text-align: left;
  float: left;
  margin-top: 50px;
  width: 60%;
}
.ks-my-info ul li {
  margin-bottom: 10px;
}
.ks-my-info ul li h4 { 
  display: inline-block;
  background: #53b7f9;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 8px;
  border-left: 5px solid #5ca8db;
  width: 20%;
  margin-right: 5px;
}
.ks-my-info ul li p { 
  display: inline-block;
}
.ks-main-content nav { 
  margin-top: 20px;
  padding: 0 50px;
}
.ks-btn { 
  display: inline-block; 
  width: 100%; 
  font-size: 18px; 
  background: #3498db; 
  color: #fff; 
  border: 2px solid #3498db; 
  padding: 10px 0; 
  position: relative; 
  z-index: 1; 
  overflow: hidden; 
  border-radius: 3px;
  text-transform: uppercase;
}
.ks-btn::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  display: block;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.ks-btn:hover {
  color: #3498db;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.ks-btn:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.35s;
}

/* Sub pages */
.ks-sub-pages { 
  position: absolute; 
  top: 0; 
  right: 0; 
  height: 100%; 
  width: 50%; 
  visibility: hidden; 
}
.ks-sub-pages.is-visible { 
  visibility: visible; 
}

/* Header and close bttn  - START */
.ks-sub-pages-header {
  position: fixed;
  width: 50%;
  height: 50px;
  line-height: 50px;
  background: rgba(255, 255, 255, 0.96);
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-transition: top 0.3s 0s;
  -moz-transition: top 0.3s 0s;
  transition: top 0.3s 0s;
}
.ks-sub-pages-header h1 {
  font-weight: bold;
  color: #89ba2c;
  padding-left: 5%;
}
.ks-from-right .ks-sub-pages-header, 
.from-left .ks-sub-pages-header {
  top: -50px;
}
.ks-from-right .ks-sub-pages-header {
  right: 0;
}
.from-left .ks-sub-pages-header {
  left: 0;
}
.is-visible .ks-sub-pages-header {
  top: 0;
  -webkit-transition: top 0.3s 0.3s;
  -moz-transition: top 0.3s 0.3s;
  transition: top 0.3s 0.3s;
}

.ks-sub-pages-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.ks-sub-pages-close::before, .ks-sub-pages-close::after {
  position: absolute;
  top: 22px;
  left: 20px;
  height: 3px;
  width: 20px;
  background-color: #424f5c;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.ks-sub-pages-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.ks-sub-pages-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* Header and close bttn  - END */


/* Content inside the sub page - START */
.ks-sub-pages-container {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  background: #dbe2e9;
  z-index: 1;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.ks-from-right .ks-sub-pages-container {
  right: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.is-visible .ks-sub-pages-container {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.ks-sub-pages-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 70px 5%;
  overflow: auto;
  /* smooth scrolling on touch devices */
  -webkit-overflow-scrolling: touch;
}
.ks-sub-pages-content {
  color: #424f5c;
}
.ks-sub-pages-content p {
  font-size: 14px;
  /*color: #424f5c;*/
  line-height: 1.4;
  margin: 10px 0;
}
/* Content inside the sub page - END */

@media only screen and (max-width: 960px) {
  .ks-sub-pages-header {
    width: 100%;
  }
  .ks-sub-pages-container {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) { 
  .ks-main-header .ks-profile-img {
    float: none;
  }
  .ks-main-header .ks-my-info {
    float: none;
    width: auto;
  }
  
  /*.ks-main-content nav { 
    padding: 0;
  }*/
  
}

#tab-about-me .ks-sub-pages-header h1 {
  background-color:#5555FF;
}

#tab-about-me .ks-sub-pages-header {
  font-style:italic;
  text-align:center;
  font-size:18px;
  -webkit-animation: spin 2s ease-in-out ;
   animation: spin 2s ease-in-out ;
}

@-webkit-keyframes spin {
  0% {left:50px;}
}

@keyframes spin {
  0% {left:50px;}
}
#tab-about-me .ks-sub-pages-header h1:hover {
  background: red;
  transition: all 2s ease;
  -webkit-transition: all 2s ease; /* Safari 3.1 to 6.0 */
}

#tab-about-me .ks-sub-pages-container .ks-sub-pages-content {
  border: 2px solid black;
  background-color:#eee;
}

#tab-about-me .ks-sub-pages-container img {
  width:600px;
  margin: 5px auto;
}

#tab-about-me .ks-sub-pages-container p {
  color:red;
  width: 600px; 
  margin-top: 10px; 
  color: #9E1603;
  text-align: justify;
}

/* resume page content*/

#tab-resume .ks-sub-pages-header {
  font-style:italic;
  text-align:center;
  font-size:18px;
 } 


.ks-sub-pages-content .img-left img{
  border-radius: 100px; 
  height: 150px; 
  width: 150px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
 }

.ks-sub-pages-content .index{
  border-bottom: 2px solid gray; 
  padding-bottom: 10px; 
  padding: 10px; 
}

.ks-sub-pages-container .ks-sub-pages-content .index .block1-right .color{
  color:#9E1603;
}
.ks-sub-pages-content .index .block1-left {
  float: left; 
  margin: 0 0 15px 0; 
  width: 350px;
  color: black;
}

.ks-sub-pages-content .index .block1-right{
  float: right; 
  width: 350px; 
  margin: 0 0 15px 0; 
  padding-right: 40px; 
  text-align: right;
}

/* profile section*/
.ks-sub-pages-content .profile .block2-left h4{
  font-style: italic; 
  color: #9E1603;
}
.ks-sub-pages-content .profile{
  border-bottom: 2px solid gray; 
  padding: 10px;
}
.ks-sub-pages-content .profile .block2-left{
  float: left; 
  margin: 15px; 
}

.ks-sub-pages-content .profile .block2-right{
  float: right;   
  width: 565px;
  color: black;
}

/*technical section*/
.ks-sub-pages-content .technical .block4-left h4{
  font-style: italic; 
  color: #9E1603;
}
.ks-sub-pages-content .technical{
  border-bottom: 2px solid gray; 
  padding: 10px;
}
.ks-sub-pages-content .technical .block4-left{
  float: left;
  margin: 15px;
}
.ks-sub-pages-content .technical .block4-right{
  float: right;
  width: 600px;
}
.ks-sub-pages-content .technical .block4-right ul{
  float: left;
  width: 180px;
}


/*experience section*/
.ks-sub-pages-content .experience .block5-left h4{
  font-style: italic; 
  color: #9E1603;
}
.ks-sub-pages-content .experience .block5-left{
  float: left; 
  margin: 15px;
}
.ks-sub-pages-content .experience .block5-right {
  float: right;
  width: 600px;
}
.ks-sub-pages-content .experience .block5-right{
  float: right;
  width: 600px;
}
.ks-sub-pages-content .experience{
  border-bottom: 2px solid gray; 
  padding: 10px;
}
.ks-sub-pages-content .experience .block6-right{
  float: left; 
  margin: 40px; 
}
.ks-sub-pages-content .experience .block6-right {
  float: right;width: 555px; 
  border-top: 2px solid gray; 
  margin: 30px 40px 40px 40px; 
  padding: 20px 0 0 0;
}

/*education section*/
.ks-sub-pages-content .education .block7-left h4{
  font-style: italic; 
  color: #9E1603;
}
.ks-sub-pages-content .education{
  border-bottom: 2px solid gray; 
  padding: 10px;
}
.ks-sub-pages-content .education .block7-left{
  float: left;
   margin: 40px; 
   margin: 15px 0 0 15px;
}
.ks-sub-pages-content .education .block7-right {
  float: right; 
  width: 600px; 
  margin-top: 20px;
}

.ks-sub-pages-content .footer{
  float: right; 
  margin:10px;
  margin-right: 200px;
}
.ks-sub-pages-content .footer .browncolor{
  color: #9E1603;
}
